api/__pycache__/models.cpython-312.pyc
api/__pycache__/models.cpython-312.pyc
api/__pycache__/models.cpython-312.pyc
api/__pycache__/models.cpython-312.pyc
api/__pycache__/serializers.cpython-312.pyc
api/__pycache__/urls.cpython-312.pyc
api/__pycache__/views.cpython-312.pyc
api/management/commands/__pycache__/scraper_x.cpython-312.pyc
lbuild.sh
build.sh
run_scraper.sh
db*

