.home-content
{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    height: 700px;
}

.home-content-text span {
    color: #6c63ff;
    font-weight: 900;
}

.home-content-text {
    font-weight: 900;
}

.background-remote {
    background-image: url("../../../public/absolute-remote.svg");
    background-size: contain;
    background-repeat: no-repeat;  
}

.background-vision {
    background-image: url("../../../public/background-vision.svg");
    background-size: contain;
    background-repeat: no-repeat;  
}


  /* Small devices (tablets, 600px and up) */
  @media (min-width: 600px) {
    .background-remote {    
        left: 36px;
        bottom: 200px;
    }
    .background-vision {    
        right: 0px;
        top: 0px;
    }
    .home-content {
        margin-top: 30px;
    }
  }
  
  /* Medium devices (desktops, 960px and up) */
  @media (min-width: 960px) {
    .background-remote {    
        left: 72px;
        bottom: 200px;
    }
    .background-vision {    
        right: 36px;
        top: 0px;
    }
  }
  
  /* Large devices (large desktops, 1280px and up) */
  @media (min-width: 1280px) {
    .background-remote {    
        left: 72px;
        bottom: 100px;
    } 
    .background-vision {    
        right: 36px;
        top: 0px;
    }
  }
  
  /* Extra-large devices (larger desktops, 1920px and up) */
  @media (min-width: 1920px) {
    .background-remote {    
        left: 72px;
        bottom: 100px;
    }
    .background-vision {    
        right: 100px;
        top: 0px;
    }
  }
  