.steps {
    grid-column: "span 2";
    grid-row: "span 2";
    display: "flex";
    position:"relative";
    outline:"1px solid black";
}
.problem-illustration {
    border-radius: 12px;
    height: 70%;
    width: 70%;
    background-image: url('../../../public/problem.svg');
    background-size: contain;
    background-repeat: no-repeat;
}
.productivity {
    border-radius: 12px;
    
    height: 70%;
    width: 70%;
    background-image: url('../../../public/productivity.svg');
    background-size: contain;
    background-repeat: no-repeat;

}
.extraction {
    border-radius: 12px;
    
    height: 70%;
    width: 70%;
    background-image: url('../../../public/curate.svg');
    background-size: contain;
    background-repeat: no-repeat;
    


}

.animate {
    border-radius: 12px;
    height: 70%;
    width: 70%;
    background-image: url('../../../public/animate.svg');
    background-size: contain;
    background-repeat: no-repeat;


}

.typo span {
    color: "#6c63ff";
    font-weight: "700";
}


/* Extra-small devices (phones, 0px and up) */
@media (min-width: 0px) {
  
  }
  
  /* Small devices (tablets, 600px and up) */
  @media (min-width: 600px) {
 
  }
  
  /* Medium devices (desktops, 960px and up) */
  @media (min-width: 960px) {
 
  }
  
  /* Large devices (large desktops, 1280px and up) */
  @media (min-width: 1280px) {
 
  }
  
  /* Extra-large devices (larger desktops, 1920px and up) */
  @media (min-width: 1920px) {
 
  }
  