


.navbar-button:hover{
    background-color: "#1d2c4c";
    color: "white";
}

.contact-us {
    display: flex;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
}

/* Extra-small devices (phones, 0px and up) */
@media (min-width: 0px) {
    
  }
  
  /* Small devices (tablets, 600px and up) */
  @media (min-width: 600px) {
    .navbar{
        display: flex;
        list-style-type: none;
        justify-content: center;
        gap: 12px;
        flex-grow: 1;
    
    }
    .navbar-wrapper {
        display: flex;
        padding: 12px;
    }
    .logo
{
   height: 75px;
   width: 75px;
   background-image: url('../../../public/logo.png');
   background-repeat: no-repeat;
   background-size: contain;
   margin-left: 36px;
}


  }
  
  /* Medium devices (desktops, 960px and up) */
  @media (min-width: 960px) {
    .navbar{
        display: flex;
        list-style-type: none;
        justify-content: center;
        gap: 72px;
        flex-grow: 1;
    
    }
    .navbar-wrapper {
        display: flex;
        padding: 24px;
    }
    .logo
    {
       height: 100px;
       width: 100px;
       background-image: url('../../../public/logo.png');
       background-repeat: no-repeat;
       background-size: contain;
       margin-left: 36px;
    }

  }
  
  /* Large devices (large desktops, 1280px and up) */
  @media (min-width: 1280px) {
    .navbar{
        display: flex;
        list-style-type: none;
        justify-content: center;
        gap: 72px;
        flex-grow: 1;
    
    }
    .navbar-wrapper {
        display: flex;
        padding: 24px;
    }
    .logo
    {
       height: 100px;
       width: 100px;
       background-image: url('../../../public/logo.png');
       background-repeat: no-repeat;
       background-size: contain;
       margin-left: 36px;
    }


  }
  
  /* Extra-large devices (larger desktops, 1920px and up) */
  @media (min-width: 1920px) {
    .navbar{
        display: flex;
        list-style-type: none;
        justify-content: center;
        gap: 72px;
        flex-grow: 1;
    
    }
    .navbar-wrapper {
        display: flex;
        padding: 24px;
    }
    .logo
{
   height: 100px;
   width: 100px;
   background-image: url('../../../public/logo.png');
   background-repeat: no-repeat;
   background-size: contain;
   margin-left: 36px;
}


}
  