.steps {
    grid-column: "span 2";
    grid-row: "span 2";
    display: "flex";
    position:"relative";
    outline:"1px solid black";
}
.problem-illustration {
    border-radius: 12px;
    
    height: 70%;
    width: 70%;
    background-image: url('../../../public/problem.svg');
    background-size: cover;
}
.productivity {
    border-radius: 12px;
    
    height: 70%;
    width: 70%;
    background-image: url('../../../public/productivity.svg');
    background-size: cover;

}
.extraction {
    border-radius: 12px;
    
    height: 70%;
    width: 70%;
    background-image: url('../../../public/curate.svg');
    background-size: cover;
    


}

.animate {
    border-radius: 12px;
    
    height: 70%;
    width: 70%;
    background-image: url('../../../public/animate.svg');
    background-size: cover;


}

.typo span {
    color: "#6c63ff";
    font-weight: "700";
}

.blur {
    box-shadow: 0px 0px 400px 200px rgba(80,54,245,0.46);
-webkit-box-shadow: 0px 0px 400px 200px rgba(80,54,245,0.46);
-moz-box-shadow: 0px 0px 400px 200px rgba(80,54,245,0.46);
}