.main {
  width: 100%;
  box-sizing: border-box;
}

.app {
  box-sizing: border-box;
  min-height: 100vh;
}

.mainContent {
  display: flex;
  flex-direction: column;
  background-color: #ecf0ff;
  box-sizing: border-box;
  border-radius: 16px;
  min-height: 100vh;
  
}
