body {
  margin: 0;
  color: #1f1650;
  background-color: #ecf0ff;
  box-sizing: content-box;
  overflow-x: hidden;
 font-family: "sans-pro";

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  position: relative;
  min-height: 100vh;
  max-width: 100%;
  box-sizing: content-box;
}

.red-blur {
  box-shadow: 0px 0px 400px 200px rgba(247,170,178,0.75);
-webkit-box-shadow: 0px 0px 400px 200px rgba(247,170,178,0.75);
-moz-box-shadow: 0px 0px 400px 200px rgba(247,170,178,0.75);
  position: absolute;
  bottom: 0px;
  right: 0px;
}