.Navbar{
    position: absolute;
    top: 0;
    z-index: -1;
    background-color: #1f1650;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 80px;
    box-sizing: border-box;
    height:500px;
    align-items: baseline;
}
.Navbar Link 
{
    color: #f1f7fd;
    text-decoration: none;
}
.Navbar ul
{
    width: 100%;
    display: flex;
    color: #f1f7fd;
    justify-content: space-between;
}
.Navbar ul li
{
    list-style: none;
    margin: 0 10px;
    color: #f1f7fd;
    font-weight: 600;
    font-size: large;
    text-transform: capitalize;
}
.Navbar Button:hover
{
    background-color: #1f1650;
    transition: 0.3s ease-in-out;
}
.Navbar Button li:hover
{
    color:#6c63ff;
}
.Navbar .farLeft
{
    display: flex;
    align-items: center;
    gap: 16px;
}
.Navbar .farLeft .logo
{
    background-image: url('../../../public/skill-smart-working.png');

    height: 50px;
    width: 50px;
}
.Navbar .farRight
{
    display: flex;
    gap: 16px;
    justify-content: flex-start;
    align-items: top;
}
.Navbar .farRight Button{
    font-size: large;
    margin-top: 0px;
    align-self: flex-start;
    color: white;
}

.Navbar .farRight Button:hover{
    color: red;
}
