.main {
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

.app {
  box-sizing: border-box;
}

.mainContent {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 16px;
  background-color: #f1f7fd;
  box-sizing: border-box;
  border-radius: 16px;
  
}
